html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Manté el marc fix */
    position: fixed;
    background-color: #0f172a;
}

section {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* <--- AIXÒ permet l'scroll només dins de cada pantalla */
    -webkit-overflow-scrolling: touch; /* Fa que l'scroll sigui suau en iPhone */
    display: flex;
    flex-direction: column;
}